<script nonce="{{ .Site.Params.cspNonce }}">
  window.giscusConfig = {
    repo: "ignaspsk/ignaspsk.github.io",
    repoId: "R_kgDOPH3Z8g",
    category: "Announcements",
    categoryId: "DIC_kwDOPH3Z8s4Csmav",
    mapping: "pathname",
    strict: "1",
    reactionsEnabled: "1",
    emitMetadata: "0",
    inputPosition: "bottom",
    theme: "dark_protanopia",
    lang: "en",
  };
</script>
<script src="https://giscus.app/client.js" 
        data-config="giscusConfig"
        crossorigin="anonymous"
        async
        nonce="{{ .Site.Params.cspNonce }}"></script>
